{{ 'custom-header.css' | asset_url | stylesheet_tag }}
<div class="custom_header" js-header-wrapper>
  <div class="container">
    <div class="custom_header-wrapper">
      <div class="custom_header-content-area">
        <div class="custom_header-mob-svg-wrap">
          <div class="custom_header-menu-icon" js-menu-icon js-toggle-menu-btn>
            <svg
              width="20"
              height="13"
              viewBox="0 0 20 13"
              fill="none"
              xmlns="http://www.w3.org/2000/svg">
              <path
                d="M1 6.5H19"
                stroke="black"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round" />
              <path
                d="M1 1.5H19"
                stroke="black"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round" />
              <path
                d="M1 11.5H19"
                stroke="black"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round" />
            </svg>
          </div>
          <div class="custom_header-cross-icon" js-cross-icon js-toggle-menu-btn>
            <svg
              width="15"
              height="15"
              viewBox="0 0 15 15"
              fill="none"
              xmlns="http://www.w3.org/2000/svg">
              <path
                d="M1 13.9997L13.7279 1.27177"
                stroke="black"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round" />
              <path
                d="M1 1.00031L13.7279 13.7282"
                stroke="black"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round" />
            </svg>
          </div>
        </div>
        {% if section.settings.logo_image != blank %}
          <div class="custom_header-logo-image">
            <a href="/">
              <img src="{{ section.settings.logo_image |  image_url: width: '100x' }}" alt="">
            </a>
          </div>
        {% endif %}
        {% if section.settings.text != blank %}
          <span class="custom_header-text des_text">{{ section.settings.text }}</span>
        {% endif %}
        {% if section.settings.btn_text != blank %} 
          <div class="custom_header-btn-svg-wrap des_btn cus_button">
            <h3 class="custom_header-btn-text cus_btn-text">{{ section.settings.btn_text }}</h3>
            <div class="custom_header-arrow-svg arrow-svg">
              <svg
                width="69"
                height="30"
                viewBox="0 0 69 30"
                fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <path d="M2.75879 13.1458L0.758789 13.1458L0.758789 17.1458L2.75879 17.1458L2.75879 13.1458ZM68.173 16.56C68.9541 15.779 68.9541 14.5127 68.173 13.7316L55.4451 1.00368C54.664 0.222633 53.3977 0.222633 52.6167 1.00368C51.8356 1.78473 51.8356 3.05106 52.6167 3.83211L63.9304 15.1458L52.6167 26.4595C51.8356 27.2406 51.8356 28.5069 52.6167 29.288C53.3977 30.069 54.664 30.069 55.4451 29.288L68.173 16.56ZM2.75879 17.1458L66.7588 17.1458L66.7588 13.1458L2.75879 13.1458L2.75879 17.1458Z" fill="black" />
              </svg>
            </div>
          </div>
        {% endif %}
      </div>
      <div class="custom_header_grid-item" js-menu-content>
        {% if section.settings.text != blank %}
          <span class="custom_header-text">{{ section.settings.text }}</span>
        {% endif %}
        {% if section.settings.btn_text != blank %}
          <div class="custom_header-btn-svg-wrap cus_button">
            <h3 class="custom_header-btn-text cus_btn-text">{{ section.settings.btn_text }}</h3>
            <div class="custom_header-arrow-svg arrow-svg">
              <svg
                width="69"
                height="30"
                viewBox="0 0 69 30"
                fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <path d="M2.75879 13.1458L0.758789 13.1458L0.758789 17.1458L2.75879 17.1458L2.75879 13.1458ZM68.173 16.56C68.9541 15.779 68.9541 14.5127 68.173 13.7316L55.4451 1.00368C54.664 0.222633 53.3977 0.222633 52.6167 1.00368C51.8356 1.78473 51.8356 3.05106 52.6167 3.83211L63.9304 15.1458L52.6167 26.4595C51.8356 27.2406 51.8356 28.5069 52.6167 29.288C53.3977 30.069 54.664 30.069 55.4451 29.288L68.173 16.56ZM2.75879 17.1458L66.7588 17.1458L66.7588 13.1458L2.75879 13.1458L2.75879 17.1458Z" fill="black" />
              </svg>
            </div>
          </div>
        {% endif %}
      </div> 
    </div>
  </div>
</div>
<script src="{{ 'cus-header.js' |  asset_url }}" defer></script>
{% schema %}
  {
    "name": "Cus Header",
    "settings": [
      {
        "type": "image_picker",
        "id": "logo_image",
        "label": "Logo Image"
      }, {
        "type": "text",
        "id": "text",
        "label": "Text"
      }, {
        "type": "text",
        "id": "btn_text",
        "label": "Btn Text"
      }

    ],
    "presets": [
      {
        "name": "Cus Header"
      }
    ]
  }
{% endschema %}